.logo {
  width: 48px;
  height: 48px;
  margin: 0 20px;
}

.link {
  text-decoration: none;
  color: #3A1212;
  &:hover {
    cursor: pointer;
  }
}

.home-link {
  border-bottom: 3px solid #FF2625;
}
